* {
    margin: 0;
    margin-bottom: -5%;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    font-size: 16px;
    cursor: default;

}

body {
    background-image: url(https://kamlapinski.github.io/toab-game/bg.jfif);
}

h1 {
    text-align: center;
    font-size: 2.6rem;
    font-family: 'Germania One', cursive;
    color: #a09f98;
    width: 100%;
    margin-top: 7%;
}

.h1move {
    color: #f2ff00;
}

.startbtn {
    width: 130px;
    height: 60px;
    font-size: 2rem;
    border-radius: 10px;
    border: 3px solid #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    background-color: rgb(0, 0, 0, 0.5);
    padding-top: 10px;
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
}

.startbtn:hover {
    background-color: rgb(0, 0, 0, 1);
    border-color: #ffffff;
    color: #ffffff;
}

.box {
    width: 94px;
    height: 94px;
    text-align: center;
    border-radius: 5%;
    margin-bottom: 10%;
    border: 3px solid #ffffff;
}

.box:first-child {
    margin-top: 10%;
}

.fas {
    font-size: 5rem;
    text-align: center;
    margin-top: 8%;
}

.info1 {
    width: 100%;
    height: 60px;
    text-align: center;
    margin-top: 3%;
}

.info2 {
    width: 100%;
    height: 60px;
    text-align: center;

}

.left {
    width: 44%;
    height: auto;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
}

.right {
    width: 44%;
    float: left;
    margin-top: 5%;
    margin-right: 5%;
    height: auto;
}

.clear {
    clear: both;
    width: 100%;
    height: 30px;
}

.btm {
    width: 90%;
    color: #ffffff;
    height: 110px;
    background-color: rgb(0, 0, 0, 0.9);
    border: 3px solid #ffffff;
    border-radius: 5px;
    font-family: 'Heebo', sans-serif;
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
}

.boldScore {
    font-size: 1.2rem;
    font-weight: 700;
}

.money {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: black;
    color: #ffffff;
    font-size: 2rem;
    margin-top: 40%;
    border: 3px solid #a3a2a2;
    border-radius: 5px;
}

.money:hover {
    font-size: 1.9rem;
    opacity: 0.9;
}

.spin {
    width: 100px;
    height: 100px;
    color: #ffffff;
    background-color: #fc0303;
    border: 5px solid #ffffff;
    border-radius: 50%;
    font-size: 2rem;
    margin-top: 40%;
    position: relative;
    margin-left: 15%;
    text-align: center;
}

.win {
    color: #00bf33;
}

.loss {
    color: #fc0303;
}

.spin:hover {
    font-size: 1.8rem;
    cursor: pointer;
}

footer {
    font-size: .5rem;
    text-align: center;
    color: #ffffff;
    width: 100%;
    position: absolute;
    top: 95%;
}

@media (max-width: 520px) and (min-width: 420px) {
    .spin {
        margin-left: 25%;
    }
}

@media (max-width: 730px) and (min-width: 520px) {
    .spin {
        margin-left: 30%;
    }
}

@media (max-width: 850px) and (min-width: 730px) {
    .left {
        width: 60%;
        margin-left: 3%;
    }

    .right {
        width: 34%;
        margin-right: 3%;
    }

    .box {
        margin-top: 10%;
        float: left;
        margin-left: 3%;
    }

    .money {
        margin-top: 30%;
    }

    .spin {
        margin-top: 20%;
        margin-left: 25%;
    }

    .clear {
        clear: both;
        width: 40%;
        height: 10px;
    }

    .btm {
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: -5%;
    }

    .spin {
        margin-left: 30%;
    }
}

@media (min-width: 850px) {

    h1 {
        font-size: 4rem;
    }

    .startbtn {
        width: 200px;
        height: 80px;
        font-size: 3.5rem;
        border-radius: 10px;
        border: 3px solid #ffffff;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #ffffff;
        background-color: rgb(0, 0, 0, 0.5);
        padding-top: 5px;
        cursor: pointer;
        font-family: 'Heebo', sans-serif;
    }

    .left {
        width: 60%;
        margin-left: 3%;
        margin-top: 7%;
    }

    .right {
        width: 24%;
        margin-right: 13%;
        margin-top: 7%;
    }

    .fas {
        margin-top: 2%;
        font-size: 9rem;
    }

    .box {
        width: 144px;
        height: 144px;
        margin-top: 10%;
        float: left;
        margin-left: 3%;
    }

    .money {
        margin-top: 30%;
        height: 100px;
        font-size: 3rem;
    }

    .money:hover {
        font-size: 2.9rem;
    }

    .spin {
        margin-top: 35%;
        margin-left: 40%;
    }

    .clear {
        clear: both;
        width: 40%;
        height: 10px;
    }

    .btm {
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        padding-top: 2%;
    }

    .spin {
        margin-left: 30%;
    }
}